{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}" />
  <link rel="stylesheet" href="{% static 'css/blog/bootstrap.min.css' %}" />
  <title>Blog</title>
</head>

<body>
  {% include "header.html" %}
  <h3 class="text-center text-primary fw-bold pt-3">Blog list</h3>
  {% block content %}
  {% endblock %}
  {% include "footer.html" %}
</body>

</html>